doctype html

html(lang='en')

	head
        script(src='https://cdn.jsdelivr.net/npm/eruda@1.5.4/eruda.min.js')

		include ./includes/head.pug

	body.flex

		include ./includes/body.pug

	script(src='https://unpkg.com/mobius1-selectr@2.4.4/dist/selectr.min.js')

	script(defer src=bustedAssets.js)
